body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dataa{
 display: flex;
 flex-direction: row;
}

.data{
  margin-left: 500px;
}
.p{
  margin: 10px;
}

.kll{
  position: absolute;
  left: 1000px;
  top: 50px;
  
}